.wp-block-paragraph {
    background: transparent !important;
}

.components-button-group {
    margin-bottom: 10px;
}

.components-range-control .components-range-control__slider {
    margin: 1px;
}
